<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <h2>Enter your name</h2>
  <p>The form below contains a textarea for comments:</p>
  <form method="POST">
        {% csrf_token %}

    <div class="form-group">
      <label for="comment"></label>
      {{form|crispy}}
                      <button class="btn btn-outline-info" type="submit">Submit</button>
                      <button><a href="chill">previous</a></button>


    </div>
  </form>
</div>
{% endblock content %}


</body>
</html>
