<!DOCTYPE html>
<html lang="en">
<head>
  <title>Selection</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Select</h2>
  <p>The form below contains 5 checkboxes</p>
  <form>
    <div class="checkbox">
      <label><input type="checkbox" value="">Basic Checkup</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value=""> Electrical Checkup</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="" >Mechanical Checkup</label>
    </div>
        <div class="checkbox">
      <label><input type="checkbox" value="" >Installation Work</label>
    </div>
        <div class="checkbox">
      <label><input type="checkbox" value="" >Chilled Water System</label>
    </div>
       
  </form>
</div>
<button><a href="home">previous</a></button>

<button><a href="bas">Next</a></button>

</body>
</html>